@page "/"

<PageTitle>Anasayfa</PageTitle>

<div class="card">
    <div class="card-body">
        <div class="card-header">Faydalı Linkler ve Bilgilendirmeler</div>
        <hr />
        <ul class="list-group">
            <li class="list-group-item">
                <a href="https://www.fluentui-blazor.net/">Microsoft FluentUI Blazor Library</a>
            </li>
        </ul>
    </div>
</div>