<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="assets/logo.svg" width="75" alt="" />
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Ana Sayfa
            </NavLink>
        </div>
        
        <div class="nav-item">
            <NavLink class="nav-link" href="lz77">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> LZ77
            </NavLink>
        </div>
        
        <div class="nav-item">
            <NavLink class="nav-link" href="lz77File">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> LZ77 Dosya
            </NavLink>
        </div>
        
        <div class="nav-item">
            <NavLink class="nav-link" href="lz77Deflate">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> LZ77 Deflate
            </NavLink>
        </div>
        
        <div class="nav-item">
            <NavLink class="nav-link" href="lz78">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> LZ78
            </NavLink>
        </div>
        
        <div class="nav-item">
            <NavLink class="nav-link" href="lz78File">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> LZ78 Dosya
            </NavLink>
        </div>
    </nav>
</div>

